[mysql]
default-character-set=utf8

[client]
default-character-set=utf8

[mysqld]
character-set-server=utf8

# 本番環境のdumpデータを読み込む際に
# MySQL server has gone awayとなるので
# 大きめに設定する
max_allowed_packet=16MB
wait_timeout=3600 # 1時間
